<a href="https://colab.research.google.com/github/Jean-Rd/Algoritms_Intro_machineLearningWithPython/blob/master/datos_categoricos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
boston = load_boston()

feature = list(boston.feature_names)+['target']
data = boston.data
dta = np.hstack((boston.data, target))

df = pd.DataFrame(dta, columns=feature)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [ ]:
# Encontrar valores duplicados
duplicated = df.duplicated(subset='target', keep=False)
# devuelve una columna boolean, donde estan los datos segun keep si son duplicados o no

# Ordenar valores duplicados
duplicated_target = df[duplicated].sort_values('target')
# busca en df los valores de duplicated y los ordena de menora  a mayor(la matriz solo almacena los valores repetidos)

# imprimir columnas relevantes o duplicadas
print(duplicated_target[['CRIM', 'AGE', 'INDUS', 'target']])

         CRIM    AGE  INDUS  target
405  67.92080  100.0  18.10     5.0
398  38.35180  100.0  18.10     5.0
489   0.18337   98.3  27.74     7.0
414  45.74610  100.0  18.10     7.0
401  14.23620  100.0  18.10     7.2
..        ...    ...    ...     ...
283   0.01501   24.8   1.21    50.0
257   0.61154   86.9   3.97    50.0
267   0.57834   67.0   3.97    50.0
161   1.46336   90.8  19.58    50.0
371   9.23230  100.0  18.10    50.0

[406 rows x 4 columns]

In [ ]:
# eliminar datos de df y almacenar los resultados en _data
_data = df.drop_duplicates(subset='target')
_data

         CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0     0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1     0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2     0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3     0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4     0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2
..        ...   ...    ...   ...    ...  ...    ...      ...     ...    ...     ...
460   4.81213   0.0  18.10   0.0  0.713  ...  666.0     20.2  255.23  16.42    16.4
461   3.69311   0.0  18.10   0.0  0.713  ...  666.0     20.2  391.43  14.65    17.7
477  15.02340   0.0  18.10   0.0  0.614  ...  666.0     20.2  349.48  24.91    12.0
483   2.81838   0.0  18.10   0.0  0.532  ...  666.0     20.2  392.92  10.42    21.8
490   0.20746   0.0  27.74   0.0  0.609  ...  711.0     20.1  318.43  29.68     8.1

[229 rows x 14 columns]

In [ ]:
_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 490
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     229 non-null    float64
 1   ZN       229 non-null    float64
 2   INDUS    229 non-null    float64
 3   CHAS     229 non-null    float64
 4   NOX      229 non-null    float64
 5   RM       229 non-null    float64
 6   AGE      229 non-null    float64
 7   DIS      229 non-null    float64
 8   RAD      229 non-null    float64
 9   TAX      229 non-null    float64
 10  PTRATIO  229 non-null    float64
 11  B        229 non-null    float64
 12  LSTAT    229 non-null    float64
 13  target   229 non-null    float64
dtypes: float64(14)
memory usage: 26.8 KB

In [ ]:
_data['target'] = _data['target'].astype(str)
_data.info()
_data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 490
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     229 non-null    float64
 1   ZN       229 non-null    float64
 2   INDUS    229 non-null    float64
 3   CHAS     229 non-null    float64
 4   NOX      229 non-null    float64
 5   RM       229 non-null    float64
 6   AGE      229 non-null    float64
 7   DIS      229 non-null    float64
 8   RAD      229 non-null    float64
 9   TAX      229 non-null    float64
 10  PTRATIO  229 non-null    float64
 11  B        229 non-null    float64
 12  LSTAT    229 non-null    float64
 13  target   229 non-null    object
dtypes: float64(13), object(1)
memory usage: 26.8+ KB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [ ]:
# Second part of Data Cleaning
from sklearn.datasets import load_wine

wine = load_wine()
columns = wine.feature_names + ['target']
data = wine.data
target = wine.target[:, np.newaxis]
#dta = np.hstack((data, target))
dta = np.hstack((wine.data, wine.target[:, np.newaxis]))

wine_df = pd.DataFrame(dta, columns=columns)
wine_df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0     0.0
1    13.20        1.78  2.14  ...                          3.40   1050.0     0.0
2    13.16        2.36  2.67  ...                          3.17   1185.0     0.0
3    14.37        1.95  2.50  ...                          3.45   1480.0     0.0
4    13.24        2.59  2.87  ...                          2.93    735.0     0.0

[5 rows x 14 columns]

In [ ]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  target                        178 non-null    float64
dtypes: float64(14)
memory usage: 19.6 KB

In [ ]:
wine_df.target = wine_df.target.astype(int)
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  target                        178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [ ]:
wine_df[wine_df.target.isin([0])]
# probar con 1 and 2

    alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0     14.23        1.71  2.43  ...                          3.92   1065.0       0
1     13.20        1.78  2.14  ...                          3.40   1050.0       0
2     13.16        2.36  2.67  ...                          3.17   1185.0       0
3     14.37        1.95  2.50  ...                          3.45   1480.0       0
4     13.24        2.59  2.87  ...                          2.93    735.0       0
5     14.20        1.76  2.45  ...                          2.85   1450.0       0
6     14.39        1.87  2.45  ...                          3.58   1290.0       0
7     14.06        2.15  2.61  ...                          3.58   1295.0       0
8     14.83        1.64  2.17  ...                          2.85   1045.0       0
9     13.86        1.35  2.27  ...                          3.55   1045.0       0
10    14.10        2.16  2.30  ...                          3.17   1510.0       0
11    14.12        1.48  2.32  ...                          2.82   1280.0       0
12    13.75        1.73  2.41  ...                          2.90   1320.0       0
13    14.75        1.73  2.39  ...                          2.73   1150.0       0
14    14.38        1.87  2.38  ...                          3.00   1547.0       0
15    13.63        1.81  2.70  ...                          2.88   1310.0       0
16    14.30        1.92  2.72  ...                          2.65   1280.0       0
17    13.83        1.57  2.62  ...                          2.57   1130.0       0
18    14.19        1.59  2.48  ...                          2.82   1680.0       0
19    13.64        3.10  2.56  ...                          3.36    845.0       0
20    14.06        1.63  2.28  ...                          3.71    780.0       0
21    12.93        3.80  2.65  ...                          3.52    770.0       0
22    13.71        1.86  2.36  ...                          4.00   1035.0       0
23    12.85        1.60  2.52  ...                          3.63   1015.0       0
24    13.50        1.81  2.61  ...                          3.82    845.0       0
25    13.05        2.05  3.22  ...                          3.20    830.0       0
26    13.39        1.77  2.62  ...                          3.22   1195.0       0
27    13.30        1.72  2.14  ...                          2.77   1285.0       0
28    13.87        1.90  2.80  ...                          3.40    915.0       0
29    14.02        1.68  2.21  ...                          3.59   1035.0       0
30    13.73        1.50  2.70  ...                          2.71   1285.0       0
31    13.58        1.66  2.36  ...                          2.88   1515.0       0
32    13.68        1.83  2.36  ...                          2.87    990.0       0
33    13.76        1.53  2.70  ...                          3.00   1235.0       0
34    13.51        1.80  2.65  ...                          2.87   1095.0       0
35    13.48        1.81  2.41  ...                          3.47    920.0       0
36    13.28        1.64  2.84  ...                          2.78    880.0       0
37    13.05        1.65  2.55  ...                          2.51   1105.0       0
38    13.07        1.50  2.10  ...                          2.69   1020.0       0
39    14.22        3.99  2.51  ...                          3.53    760.0       0
40    13.56        1.71  2.31  ...                          3.38    795.0       0
41    13.41        3.84  2.12  ...                          3.00   1035.0       0
42    13.88        1.89  2.59  ...                          3.56   1095.0       0
43    13.24        3.98  2.29  ...                          3.00    680.0       0
44    13.05        1.77  2.10  ...                          3.35    885.0       0
45    14.21        4.04  2.44  ...                          3.33   1080.0       0
46    14.38        3.59  2.28  ...                          3.44   1065.0       0
47    13.90        1.68  2.12  ...                          3.33    985.0       0
48    14.10        2.02  2.40  ...                          2.75   1060.0       0
49    13.94        1.73  2.27  ...                          3.10   1260.0       0
50    13.05        1.73  2.04  ...                          2.91   1150.0       0
51    13.83        1.65  2.60  ...                          3.37   1265.0       0
52    13.82        1.75  2.42  ...                          3.26   1190.0       0
53    13.77        1.90  2.68  ...                          2.93   1375.0       0
54    13.74        1.67  2.25  ...                          3.20   1060.0       0
55    13.56        1.73  2.46  ...                          3.03   1120.0       0
56    14.22        1.70  2.30  ...                          3.31    970.0       0
57    13.29        1.97  2.68  ...                          2.84   1270.0       0
58    13.72        1.43  2.50  ...                          2.87   1285.0       0

[59 rows x 14 columns]

In [ ]:
# meetodo unique, es que busca los valores unicos en el dta fram

wine_df.target.unique()

array([0, 1, 2])

In [ ]:
wine_df.target.value_counts()

1    71
0    59
2    48
Name: target, dtype: int64

In [ ]:
wine_df.magnesium.unique()

array([127., 100., 101., 113., 118., 112.,  96., 121.,  97.,  98., 105.,
        95.,  89.,  91., 102., 120., 115., 108., 116., 126., 124.,  93.,
        94., 107., 106., 104., 132., 110., 128., 117.,  90., 103., 111.,
        92.,  88.,  87.,  78., 151.,  86., 139., 136.,  85.,  99.,  84.,
        70.,  81.,  80., 162., 134., 119.,  82., 122., 123.])