Repaso del capitulo 1 del libro introduction to machine learning with python

In [7]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
%matplotlib inline
import pandas as pd

In [6]:
iris = load_iris()
print('DESCR of load_iris:\n{}'.format(iris.DESCR))

DESCR of load_iris:
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [10]:
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
# los nombres son del tipo de iris estan en 'target_names', en 'target' estan los valores para cada
# uno de estos(50 para cada uno)
iris.target_names
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [21]:
# importamos de 'sklearn', al modulo train_test_split, que nos separa los datos aletoricamentes
# 25% --> in test/ para hacer test ^ 75% --> in train/ para entrenar nuestro algoritmo
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, random_state=1)
# random state sirve para que cada vez que ejecutemos el codigo este no cambie de orden, ya que esta distibuido aletoricamente

In [24]:
iris.keys()
#los modulos que podemos usar en iris

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [34]:
from sklearn.neighbors import KNeighborsClassifier
#este es un algoritmo de clasificacion, nos clasifica a donde pertenece los datos ingresados

In [44]:
'''
el numero de vecinos significa, que con cauntas personas tu te relacionas y si te relacionas con
3 personas iguales, 1 dif, 2 dif. entonces seras el primedio de las 3 iguales por que son mayoria 
claro que ese es un ejemplo util, pero en el fondo lo hacen por probabilidad(realizando media aritmetica de los datos)
y tomando los vecinos cerca claro que entre mas puntos de un tipo esten cercanos mas probabilidad existe 
que el new date pertenezca a este
'''
knn = KNeighborsClassifier(n_neighbors=5)
# pasamos nuestros datos a entrenar
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [45]:
new_date = np.array([[3, 5.4,1.6,0.3]])
#creamos nuestro nuevo dato a clasificar en 2 dimension

In [49]:
print(iris.target_names)
print('Clasificacion del new data')
knn.predict(new_date)
# es 0 --> setosa segun datos aletoricos

['setosa' 'versicolor' 'virginica']
Clasificacion del new data

array([0])

In [71]:
# score, veremos que con que probabilidad acerto el algoritmo
knn.score(x_test, y_test)
# 1, seguro 
#como predioce el algoritmo
y_pred = knn.predict(x_test)
y_pred
np.mean(y_test ==y_pred)

1.0

In [59]:
def data_classifier():
    row_data = np.array([[0,0,0,0]])
    for i in range(4):
        date = float(input('Ingrese un numero: '))
        row_data[0,i] = date
    return row_data
def kneighbors(row_data):
    prediction = knn.predict(row_data)
    print('target name: {}'.format(iris.target_names[prediction]))
    print('Prediction: {}'.format(prediction))

In [63]:
data = data_classifier()
kneighbors(data)

Ingrese un numero: 1
Ingrese un numero: 2
Ingrese un numero: 3
Ingrese un numero: 4
target name: ['versicolor']
Prediction: [1]

In [39]:
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2